@media(min-width: 768px) and (max-width: 991px) {
    .login .rowParent {
        padding-left: 14vw;
    }
}

@media(min-width: 576px) and (max-width: 991px){
    .login .card {
        width: 30rem;
    }
    .login .rowCol {
        margin-left: 0 !important;
    }
}

@media(max-width: 575px){
    .login .card-body {
        text-align-last: left;
    }
    .login .row {
        justify-content: center;
    }
}

