body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
    cursor: default;
}

.checked {
    color: #fbad17 !important;
}
.titan-link {
    color: #fbad17;
}

.titan-link {
    color: #fbad17;
}

.titan-link:hover {
    color: #c08414;
}

.titan-link:link {
    color: #fbad17;
}

.ellipsis {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis-button {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.default-button {
    /* background: url('http://localhost:8000/images/others/Button.png'); */
    width: 200px;
    background-size: 200px 70px !important;
    border: none;
    height: 76px;
}

.category-tab {
    /* background: url('http://localhost:8000/images/others/CategoryTab.png') no-repeat 0 0; */
    width: 100%;
    background-size: cover;
    border: none;
    height: 76px;
}

@keyframes ldio-o8fa4n59lro {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-o8fa4n59lro div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #fbad17;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-o8fa4n59lro div {
  animation: ldio-o8fa4n59lro 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-9vq94p0gkx5 {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-o8fa4n59lro {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-o8fa4n59lro div { box-sizing: content-box; }

.category-side-list:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}

.carousel-indicators > li {
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
}

.carousel-indicators {
  top: 100%;
}

.carousel-control-prev:hover {
  background-image: linear-gradient(to right, #00000070 , transparent);
}

.carousel-control-next:hover {
  background-image: linear-gradient(to right, transparent , #00000070);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tst-current {
  padding-left: 1em; 
  text-indent: -.7em;
}

.tst-current::before {
  content: "• "  !important;
  color: #fbad17 !important; /* or whatever color you prefer */
}

.tst-list {
  padding-left: 1em; 
  text-indent: -.7em;
  color: lightgray;

}

.tst-list::before {
  content: "• "  !important;
  color: lightgray !important; /* or whatever color you prefer */
}

.fa-star {
  color: #99948a;
}

.productCardHide {
  display: none !important;
}

.productCard:hover .productCardHide {
  display: flex !important;
}

/* MOBILE VERSION */
.navbar-toggler {
  border: 1px solid rgb(255, 192,68) !important;
}
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */

/* For Galaxy Fold Smallest */
@media (min-width: 280px) {
  .collapse-dropdown {
    width: 14.5rem !important;
    margin-bottom: 1rem;
  }
  .search-nav {
    width: 9rem !important;
  }
  .cart-nav {
    position: absolute !important; 
    left: 10rem !important; 
    top: -1rem !important; 
    width: 5rem !important;
  }
  .brand-nav {
    width: 10rem !important
  }
  .info-nav {
    display: none;
  }
  .login-nav {
    text-align: left !important;
  }  
}

/* For Iphone 5 */
@media (min-width: 320px) {
  .collapse-dropdown {
    width: 16rem !important;
  }
  .search-nav {
    width: 11rem !important;
  }
  .cart-nav {
    position: absolute !important; 
    left: 12rem !important; 
    top: -1rem !important; 
    width: 5rem !important;
  }
  .brand-nav {
    width: 12rem !important
  }
}

/* For Galaxy S5 */
@media (min-width: 360px) {
  .collapse-dropdown {
    width: 19rem !important;
  }
  .search-nav {
    width: 14rem !important;
  }
  .cart-nav {
    position: absolute !important; 
    left: 15rem !important; 
    top: -1rem !important; 
    width: 5rem !important;
  }
}

/* For Pixel 2 */
@media (min-width: 411px) {
  .collapse-dropdown {
    width: 22rem !important;
  }
  .search-nav {
    width: 17rem !important;
  }
  .cart-nav {
    position: absolute !important; 
    left: 18rem !important; 
    top: -1rem !important; 
    width: 5rem !important;
  }
}

@media (min-width: 576px) {
  .brand-nav {
    width: 15.5rem !important
  }
  .collapse-dropdown {
    width: 100% !important;
  }
  .collapse-nav {
    margin-top: .75rem;
  }
  .search-nav {
    width: 28rem !important;
  }
  .cart-nav {
    position: absolute !important; 
    left: 29rem !important; 
    top: -1rem !important; 
    width: 5rem !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .categories-nav {
    width: 100%;
  }
  .search-nav {
    width: 39rem !important;
  }
  .cart-nav {
    position: absolute !important; 
    left: 40rem !important; 
    top: -1rem !important; 
    width: 5rem !important;
  }
  .info-nav {
    display: inline-block;
  }
  .login-nav {
    text-align: right !important;
  }   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .collapse-dropdown {
    position: absolute !important; 
    width: 9rem !important;
  }
  .search-nav {
    width: 25rem !important;
    margin-left: 2rem;
  }
  .cart-nav {
    position: absolute !important; 
    left: 26rem !important; 
    top: -1rem !important; 
    width: 5rem !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .search-nav {
    width: 32rem !important;
    margin-left: 1rem;
  }
  .collapse-dropdown {
    position: absolute !important; 
    width: 9rem !important;
  }
  .cart-nav {
    position: absolute !important; 
    left: 33rem !important; 
    top: -1rem !important; 
    width: 5rem !important;
  }
}
